:root {
    --nav-height: 80px;
  }

html,body,input,textarea{
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC",  "Microsoft YaHei","WenQuanYi Micro Hei";
    /* font-size: 1em; */
}

/* 基本元素 */
button{
    margin: 0;
    padding: 0.5em 1.5em;
    background-color: rgb(90, 90, 90);
    color: azure;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(110, 110, 110);
}

button:disabled{
    background-color: rgb(180, 180, 180);
    color: rgb(230, 230, 230);
    cursor: default;
}

button a{
    color: inherit;
    text-decoration: none;
    height: 100%;
}
button.icon{
    margin: 0;
    padding: 0.5em 0.5em;
    background-color: rgba(0, 0, 0,0);
    color: hsla(0, 0%, 30%, 1);;
    border: none;
}
ul{
    list-style: none;
    padding-left: 0;
}

/* 页面 */
body{
    margin:0;
}
main{
    width: 87.4375em;
    margin: 0 auto;
}

header{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
}

header * {
    display: inline-block;  
    margin: 0;
    vertical-align: middle;
}
header .left{
    width: 20%;
}
header .middle{
    width: 58%;
    text-align: center;
}

header .right{
    width: 20%;
    text-align: right;
}

input[type='text'] {
    padding: 0.5em;
    box-sizing: border-box;
    min-width: 20em;
}

#taskName input{
    font-size: 1.5em;
    width: 100%;
}

.pageSelector{
    margin: auto;
    width: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: background-color 500ms;
}
.pageSelector .listBox{
    text-align: left;
    margin: auto;
    width: 400px;
    background-color: white;
}
.pageSelector ul{
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
}

.pageSelector .btnBox{
    padding: 0.5em 0.5em;
}

.pageSelector .btnBox button{
    margin-right: 0.5em;
}
.pageSelector li{
    list-style: none;
    padding: 0.5em;
    cursor: pointer;
}
.pageSelector li:hover{
    background-color: rgb(110, 110, 110);
    color: white;
}
.pageSelector li.selected{
    background: black;
    color: white;
}



iframe{
    border:0;
}

.inputError input{
    background-color: rgb(255, 148, 148);
    border-color: rgb(201, 28, 28);
}

.inputError.null::after {
    content: '任务名称不能为空';
}
.inputError.repeat::after {
    content: '任务名称不能重复';
}


/* 对话框背景阴影 */
dialog::backdrop {
    background: rgba(255,0,0,.25);
  }

