<!DOCTYPE html>
<html lang="en">

<head>
    <title>原型</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../parts/head') %>
</head>

<body>
    <form action="" method="POST">
        <label for="email">邮箱</label>
        <input type="text" name="email">
        <label for="password">密码</label>
        <input type="text" name="password">
        <button type="submit">登录</button>
    </form>
</body>
<script>
$(document).ready(function () {
   
});
</script>
</html>