<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../parts/head') %>
    <script src="/javascripts/newTask.js" defer></script>
    <title>添加任务</title>
    <style>
        input ,textarea{
            width: 40em;
            height: 1.5em;
            font-size: 1em;
        }

        html,
        body,
        iframe {
            width: 100%;
            height: 100%;
        }

        #bar {
            height: 50px;
            width: 100%;
            position: absolute;
            z-index: 100;
            box-shadow: 0px -1px 5px 0px rgb(0, 0, 0);
        }

        dialog>div {
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
    <dialog id="favDialog">
        <div>
            <label for="pttUrl">原型链接</label>
            <input id="pttUrl" name="pttUrl" type="text">
        </div>
        <div>
            <label for="taskName">任务名称</label>
            <input name="taskName" id="taskName"/>
        </div>
        <div>
        	<label for="description">任务要求</label>
        	<textarea name="description" id="description" cols="100" rows="10"></textarea>
        </div>
        <div>
            <button id="start">开始录制任务步骤</button>
            <a id="cancel" href="/tasks">取消</a>
        </div>
    </dialog>
    <iframe id="pttPrv" src="" frameborder="0"></iframe>
</body>

</html>