<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../parts/head') %>
    <script src="/javascripts/taskSetting.js" defer></script>
    <title><%= title%></title>
</head>

<body>
    <header>
        <div class="left" id='taskName' >
            <input type="text" value="" placeholder='新任务'   autofocus autoInit='ture'>
        </div>
        <div class="middle">
            <h2 id='tip'>选择任务开始的页面</h1>
        </div>
        <div class="right">
            <button id="page-save" hidden>完成</button>
        </div>
    </header>
    <div class="pageSelector">
        <div class="listBox">
            <ul>
                <% htmlList.forEach(function (page) { %>
                <li data-link="<%=page.url%>"><%= page.name.split('.')[0] %></li>
                <% })%>
            </ul>
            <div class="btnBox">
                <button id='page-ok' disabled>确定</button>
                <button id='page-cancel'>取消</button>
            </div>

        </div>

    </div>
    <iframe id='stepRecorder' hidden='hidden'></iframe>
</body>

</html>