<!DOCTYPE html>
<html lang="en">

<head>
    <title>原型</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../parts/head') %>
</head>

<body>
    <main>
        <ul>
            <% ptts.forEach(function(ptt){ %>
                <li class="card">
                    <a href="/ptts/<%= ptt.name %>" class="titleLink"><%= ptt.name%></a>
                    <p><span class="count" ><%= ptt.userTestCount%></span>人参与测试</p>
                    <a class="linkButton">复制链接</a>
                </li>
            <% });%>
        </ul>

    </main>
</body>
<script>
$(document).ready(function () {
   
});
</script>
</html>