<!DOCTYPE html>
<html>

<head>
  <title>我创建的测试任务</title>
  <%- include('../parts/head') %>
  <script src="/javascripts/tasks.js" defer></script>
  
</head>

<body>
  <main id="app">
    <h1>我创建的测试任务</h1>
    <button @click="dlg_a.visibility=true">新增测试任务</button>

    <div class="dialog_container" v-if="dialog_selectPtt">
      <div class="dialog_panel">
        <h3>选择原型</h3>
        <div class="dialog_content">
          
        </div>
        <div class="dialog_foot">
          <button>确定</button>
          <button>取消</button>
        </div>
      </div>
    </div>

    <!-- v-if="dialog_selectPtt" -->
    <dlg v-bind:dialog='dlg_a'>
      
      <select name="protos" id="protos" v-model="selectedPtt">
        <option v-for="proto in protos">{{proto}}</option>
      </select>
      <button >新增</button>
      
    </dlg>

    <ul id="tasks">
      <li v-for="task,index in tasks" >
        <a :href="'/tasks/'+task.taskId"> {{ task.name}} </a> |
        <span class="status">{{ (task.status=="unpublished")?("已撤下"):("已发布") }}</span> |
        <a :href="'/tasks/'+task.taskId+'/setting'">设置步骤</a> |
        <a :href="'/tasks/'+task.taskId+'/testing'">开始测试</a> |
        <a class="publish" @click="publish(index)">{{ (task.status=="unpublished")?("发布"):("撤下") }}</a>
      </li>
    </ul>

  </main>

</body>

</html>