<!DOCTYPE html>
<html>

<head>
  <title>我创建的测试任务</title>
  <%- include('../parts/head') %>
  <script src="/javascripts/tasks.js" defer></script>
  
</head>

<body>
  <main>
    <h1>我创建的测试任务</h1>
    <a href="/tasks/newTask">新增测试任务</a>
           
    <ul id="tasks">
      <li v-for="task,index in tasks" :data-taskId="task.taskId" :data-status="task.status" >
        <a :href="'/tasks/'+task.taskId"> {{ task.name}} </a> |
        <span class="status">{{ (task.status=="unpublished")?("已撤下"):("已发布") }}</span> |
        <a :href="'/tasks/'+task.taskId+'/setting'">设置步骤</a> |
        <a :href="'/tasks/'+task.taskId+'/testing'">开始测试</a> |
        <a class="publish" @click="publish(index)">{{ (task.status=="unpublished")?("发布"):("撤下") }}</a>
      </li>
    </ul>

  </main>

</body>

</html>